<h3 class="subtitle"><%= t('titles.complete_details') %></h3>
<%= form_for order, :url => send_confirm_order_path, :html => { :class => 'checkout disableable' } do |f| %>
  <%= f.error_messages %>
  <div class="customer">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <%= field_set_tag do %>
          <dl>
            <dt>
              <%= f.label :first_name, t('form.name'), :class => 'req ' %>
            </dt>
            <dd class="name">
              <div class="row">
                <div class="col-lg-6">
                  <%= f.text_field :first_name, placeholder: t('form.first_name'), value: current_user.first_name, class: 'form-control' %>
                </div>
                <div class="col-lg-6">
                  <%= f.text_field :last_name, placeholder: t('form.last_name'), value: current_user.last_name, class: 'form-control' %>
                </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>
              <%= f.label :company, t('form.company_name') %>
            </dt>
            <dd>
              <%= f.text_field :company, class: 'form-control' %>
            </dd>
          </dl>
          <dl>
            <dt>
              <%= f.label :email_address, t('form.your_mail'), :class => 'req' %>
            </dt>
            <dd>
              <%= f.text_field :email_address, value: current_user.email, class: 'form-control' %>
            </dd>
          </dl>
          <dl>
            <dt>
              <%= f.label :phone_number, t('form.phone'), :class => 'req' %>
            </dt>
            <dd>
              <%= f.text_field :phone_number, value: current_user.phone, class: 'form-control' %>
            </dd>
          </dl>
        <% end %>
      </div>
      <div class="col-lg-6 col-sm-6">
        <%= field_set_tag nil, class: 'bill-address' do %>
          <dl>
            <dt>
              <%= f.label :billing_address1, t('form.bill_address'), :class => 'req' %>
            </dt>
            <dd>
              <%= f.text_field :billing_address1, :placeholder => t('form.line1'), class: 'form-control'%>
            </dd>
            <dd>
              <%= f.text_field :billing_address3, :placeholder => t('form.town'), class: 'form-control' %>
            </dd>
            <dd>
              <%= f.text_field :billing_address4, :placeholder => t('form.county'), class: 'form-control' %>
            </dd>
            <dd>
              <%= f.text_field :billing_postcode, :placeholder => t('form.postcode'), class: 'postcode form-control' %>
            </dd>
            <dd>
              <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, {}, class: 'form-control' %>
            </dd>
            <dd>
              <%= f.check_box :separate_delivery_address %>
              <%= f.label :separate_delivery_address, t('form.different_deliver') %>
            </dd>
          </dl>
          <dl class="delivery" style="display: none">
            <dt>
              <%= f.label :delivery_address1, t('form_delivery_address'), :class => 'req' %>
            </dt>
            <dd>
              <%= f.text_field :delivery_name, :placeholder => t('form.deliver_to'), class: 'form-control' %>
            </dd>
            <dd>
              <%= f.text_field :delivery_address1, :placeholder => t('form.line1'), class: 'form-control' %>
            </dd>
            <dd>
              <%= f.text_field :delivery_address3, :placeholder => t('form.town'), class: 'form-control'%>
            </dd>
            <dd>
              <%= f.text_field :delivery_address4, :placeholder => t('form.county'), class: 'form-control' %>
            </dd>
            <dd>
              <%= f.text_field :delivery_postcode, :placeholder => t('form.postcode'), class: 'postcode form-control' %>
            </dd>
            <dd>
              <%= f.collection_select :delivery_country_id, Shoppe::Country.ordered, :id, :name, {}, class: 'form-control' %>
            </dd>
          </dl>
        <% end %>

      </div>
    </div>
  </div>
  <%= button_to t('buttons.place_order'), nil, class: 'btn btn-success btn-lg btn-block'%>
<% end %>
