<table class='table table-bordered'>
  <thead>
  <tr>
    <td><%= t('table.quantity') %></td>
    <td><%= t('table.product') %></td>
    <td><%= t('table.sub_total') %></td>
    <td><%= t('table.tax') %></td>
    <td><%= t('table.total') %></td>
  </tr>
  </thead>
  <tbody>
  <% order.order_items.each do |item| %>
    <tr>
      <td><%= item.quantity %></td>
      <td><%= item.ordered_item.full_name %></td>
      <td><%= number_to_currency item.sub_total %></td>
      <td><%= number_to_currency item.tax_amount %></td>
      <td><%= number_to_currency item.total %></td>
    </tr>
  <% end %>

  <% if order.delivery_service %>
    <tr>
      <td></td>
      <td><%= order.delivery_service.name %></td>
      <td><%= number_to_currency order.delivery_price %></td>
      <td><%= number_to_currency order.delivery_tax_amount %></td>
      <td><%= number_to_currency order.delivery_price + order.delivery_tax_amount %></td>
    </tr>
  <% end %>

  </tbody>
  <tfoot>
  <tr>
    <td colspan='4'><%= t('table.sub_total') %></td>
    <td><%= number_to_currency order.total_before_tax %></td>
  </tr>
  <tr>
    <td colspan='4'><%= t('table.tax') %></td>
    <td><%= number_to_currency order.tax %></td>
  </tr>
  <tr>
    <td colspan='4'><%= t('table.total') %></td>
    <td><%= number_to_currency order.total %></td>
  </tr>
  </tfoot>
</table>
