<div class="container">
  <h2>Checkout</h2>
  <%= render 'items', :order => @order %>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <%= form_for @order, :url => checkout_path do |f| %>
        <div class="form-group">
          <%= f.label :first_name, 'Name' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <%= f.text_field :last_name, class: 'form-control' %>
        <div class="form-group">
          <%= f.label :billing_address1, 'Address' %>
          <%= f.text_field :billing_address1, class: 'form-control' %>
        </div>
        <div class="form-group">
          <% f.text_field :billing_address2, class: 'form-control' %>
          <%= f.text_field :billing_address3, class: 'form-control' %>
          <%= f.text_field :billing_address4, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :billing_postcode, 'Post code' %>
          <%= f.text_field :billing_postcode, class: 'form-control' %>
          <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email_address %>
          <%= f.text_field :email_address, class: 'form-control' %>
        </div>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
        <%= f.submit 'Continue', class: 'btn btn-lg btn-default' %>
      <% end %>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
