<p><%= t('mailer.hello_message') + " #{@resource.email}" %>!</p>

<p><%= t('mailer.reset_password.subject') %></p>

<p><%= link_to t('devise.links.change_pass'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t('mailer.reset_password.warning_1') %></p>
<p><%= t('mailer.reset_password.warning_2') %></p>
